:root {
  --bg-main: rgb(0, 0, 0);
  --white: #ffffff;
  --basic-opacity-transition: all .5s ease-out;
  --basic-opacity-transition-fast: all .5s ease-out;
  --basic-opacity-transition-long: all 1s ease-out;
  --menu-btn-transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  --transform-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
  background-color: var(--bg-main);
  scroll-behavior: smooth;
}

body {
  font-family: 'Poiret One', cursive;
  min-height: 100vh;
  /* overflow-y: hidden; */
  /* min-height: 100dvh; */
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

h1 {
  font-size: 36px;
}

h3 {
  font-size: 22px;
}

h6 {
  font-size: 16px;
}

header {
  padding: 15px;
  width: 100%;
  /* background-color: rgba(0, 255, 255, 0.107); */
  position: absolute;
  z-index: 10;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  overflow-y: hidden;
}

.intro-box {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  opacity: 1;
  z-index: 5;
  cursor: pointer;
  -webkit-transition: var(--basic-opacity-transition-long);
  -moz-transition: var(--basic-opacity-transition-long);
  -o-transition: var(--basic-opacity-transition-long);
  transition: var(--basic-opacity-transition-long);
}
.intro-box > h6 {
  letter-spacing: .4rem;
}
.box:not([data-focus="intro"]) .intro-box {
  opacity: 0;
  visibility: hidden;
}

.landing-box {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  opacity: 1;
  z-index: 10;
  -webkit-transition: var(--basic-opacity-transition);
  -moz-transition: var(--basic-opacity-transition);
  -o-transition: var(--basic-opacity-transition);
  transition: var(--basic-opacity-transition);
  /* transition: visibility 1s ease 5s; */
  /* transition-delay: 1s; */
}
.box:not([data-focus="landing"]) .landing-box {
  opacity: 0;
  visibility: hidden;
}
.landing-content {
  display: flex;
}
.landing-card {
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(200px, 20rem);
  height: 450px;
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.box:not([data-focus="landing"]) .landing-card {
  cursor: auto;
}
.landing-card > h4 {
  color: rgba(255, 255, 255);
  opacity: 0.05;
  letter-spacing: .2rem;
  -webkit-transition: var(--basic-opacity-transition);
  -moz-transition: var(--basic-opacity-transition);
  -o-transition: var(--basic-opacity-transition);
  transition: var(--basic-opacity-transition);
}
.dont-highlight {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}
.header-title {
  opacity: 0;
  visibility: hidden;
}

.landing-card:hover h4 {
  opacity: 1;
}

.landing-text-box {
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

@media only screen and (max-width: 1000px) {
  .landing-content {
    flex-direction: column;
    width: min(500px, 80vw);
  }
  .landing-text-box {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .landing-text-box {
    writing-mode: horizontal-tb;
    text-orientation: sideways;
  }
  .landing-card {
    width: 100%;
    height: 120px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.box[data-focus="education"] .education-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 1;
  -webkit-transition: var(--basic-opacity-transition);
  -moz-transition: var(--basic-opacity-transition);
  -o-transition: var(--basic-opacity-transition);
  transition: var(--basic-opacity-transition);
}
.education-box > .grid-item-xs9 {
  grid-column: 1/3;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-wrap: break-word;
  padding-left: 50px;
  padding-right: 50px;
}
.education-box > .grid-item-xs9 > div {
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: flex-start;
}
.education-box > .grid-item-xs3 {
  grid-column: 3;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow-wrap: break-word;
  padding-left: 50px;
  padding-right: 50px;
}
.education-box > div > .classes {
  display: flex;
  flex-direction: column;
}
.education-box > div > div > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 0px;
  overflow-y: hidden;
  -webkit-transition: var(--transform-transition);
  -moz-transition: var(--transform-transition);
  -o-transition: var(--transform-transition);
  transition: var(--transform-transition);
}
.course-btn {
  width: auto;
}
.classes[data-classes-expand="false"] .classes-show-text-hide {
  display: none;
}
.classes[data-classes-expand="true"] .classes-show-text-show {
  display: none;
}
.classes[data-classes-expand="false"] .course-list {
  max-height: 0px;
}
.classes[data-classes-expand="true"] .course-list {
  max-height: 500px;
}
.box:not([data-focus="education"]) .education-box {
  /* display: none; */
  opacity: 0;
  visibility: hidden;
}
.projects-box {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-transition: var(--basic-opacity-transition);
  -moz-transition: var(--basic-opacity-transition);
  -o-transition: var(--basic-opacity-transition);
  transition: var(--basic-opacity-transition);
}
.projects-box > div {
  --column-grid-gap: 2.125rem;
  display: grid;
  /* grid-template-areas: "col-2 col-0 col-1 col-3"; */
  /* grid-template-areas: "col-2 col-0 col-1"; */
  gap: var(--column-grid-gap);
  grid-template-rows: 100%;
  grid-template-columns: repeat(3,calc(33% - (var(--column-grid-gap)/ 3 * 3)));
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  
  z-index: 14;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.projects-box > div > hr {
  height: 200px;
  visibility: hidden;
}

.projects-box > div > div {
  min-height: 100%;
  /* width: auto; */
  max-width: 600px;
  display: flex;
  flex-direction: column;
  /* font-family: 'Roboto', sans-serif; */
}
.projects-box > div > div:nth-child(1) {
  grid-area: "col-0";
}
.projects-box > div  > div:nth-child(2) {
  grid-area: "col-1";
}
.projects-box > div  > div:nth-child(3) {
  grid-area: "col-2";
}
.project-container {
  margin-bottom: 20px;
}
.project-container > img {
  width: auto;
  /* height: auto; */
  max-height: 600px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}
.box[data-focus="projects"] .projects-box {
  opacity: 1;
}
.box:not([data-focus="projects"]) .projects-box {
  /* display: none; */
  opacity: 0;
  visibility: hidden;
}
.about-box {
  display: flex;
  position: absolute;
  height: 100%;
  /* height: auto; */
  width: auto;

  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  
  z-index: 14;
  -webkit-transition: var(--basic-opacity-transition);
  -moz-transition: var(--basic-opacity-transition);
  -o-transition: var(--basic-opacity-transition);
  transition: var(--basic-opacity-transition);
  /* margin-bottom: 300px;
  padding-bottom: 300px; */
}
.about-box > .links {
  position: absolute;
  /* left: auto;
  right: auto;
  margin-left: auto;
  margin-right: auto; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.about-box > .links > a {
  /* margin-left: 50px; */
  margin-right: 20px;
  margin-left: 20px;
  color: white;
  /* text-decoration: underline; */
  /* cursor: pointer; */
  /* z-index: 20; */
}
.about-box > .about-content {
  width: auto;
  height: auto;
  padding-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
}
.about-box > div > hr {
  height: 50px;
  visibility: hidden;
}
.about-box::-webkit-scrollbar {
  /* display: none; */
}
.about-box > div > div > h1 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.about-languages-box {
  display: flex;
}
.about-languages-box > div {
  width: 100%;
}
.about-languages-box > hr {
  width: 5px;
  /* height: 100%; */
  border-style: none;
  border-radius: 2px;
  color: white;
  background-color: white;
}
.about-languages-box > div:nth-child(1) {
  text-align: end;
  padding-right: 20px;
}
.about-languages-box > div:nth-child(3) {
  text-align: start;
  padding-left: 20px;
}
.about-languages-box > div > h2 {
  text-decoration: underline;
}
.about-languages-box > div > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.about-technologies-box {
  display: flex;
}
.about-technologies-box > div {
  width: 100%;
}
.about-technologies-box > hr {
  width: 5px;
  /* height: 100%; */
  border-style: none;
  border-radius: 2px;
  color: white;
  background-color: white;
}
.about-technologies-box > div:nth-child(1) {
  text-align: end;
  padding-right: 20px;
}
.about-technologies-box > div:nth-child(3) {
  text-align: start;
  padding-left: 20px;
}
.about-technologies-box > div > h2 {
  text-decoration: underline;
}
.about-technologies-box > div > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.about-concepts-box {
  text-align: center;
}

.box[data-focus="about"] .about-box {
  opacity: 1;
}
.box:not([data-focus="about"]) .about-box {
  /* display: none; */
  opacity: 0;
  visibility: hidden;
}

.box[data-focus="mystery"] .mystery-box {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  opacity: 1;
  -webkit-transition: var(--basic-opacity-transition);
  -moz-transition: var(--basic-opacity-transition);
  -o-transition: var(--basic-opacity-transition);
  transition: var(--basic-opacity-transition);
}
.box:not([data-focus="mystery"]) .mystery-box {
  /* display: none; */
  opacity: 0;
  visibility: hidden;
}
/* 
.menu-btn-container {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
} */

.menu-btn {
  width: 80px;
  height: 80px;
  z-index: 20;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 50px;
  border-radius: 50%;
  transform: translateY(200px);
  border-style: none;
  overflow-y: hidden;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: var(--transform-transition);
  -moz-transition: var(--transform-transition);
  -o-transition: var(--transform-transition);
  transition: var(--transform-transition);
}

.box:not([data-focus="landing"]) .menu-btn:hover {
  opacity: 1;
  scale: 1.3;
}
.menu-btn > p {
  /* color: orange; */
  transform: translateY(-80px);
  -webkit-transition: var(--transform-transition);
  -moz-transition: var(--transform-transition);
  -o-transition: var(--transform-transition);
  transition: var(--transform-transition);
}
.box:not([data-focus="landing"]) .menu-btn > p {
  transform: translateY(0px);
  visibility: visible;
  opacity: 1;
}
.box:not([data-focus="landing"]):not([data-focus=""]):not([data-focus="intro"]) .menu-btn {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}